[submodule "jenkins/02-mvn-springboot"]
	path = jenkins/02-mvn-springboot
	url = git@github.com:Lucioschenkel/jenkins-hello-world.git
[submodule "jenkins/03-nodejs-argocd-organization-folder"]
	path = jenkins/03-nodejs-argocd-organization-folder
	url = git@github.com:Lucioschenkel/solar-system-gitea.git
[submodule "keycloak/01-client-server-openid-connect"]
	path = keycloak/01-client-server-openid-connect
	url = https://github.com/PackPublishing/Keycloak---Identity-and-Access-Management-for-Modern-Applications-2nd-Edition.git
